<!DOCTYPE HTML>
<!--
	Test
-->
<html>
	<head>
		<title>nectd:hoanghuynh</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{paths.theme}}web-cards/assets/js/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{paths.theme}}web-cards/assets/css/font-awesome.min.css" />
		<link rel="stylesheet" href="{{paths.theme}}web-cards/assets/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{paths.theme}}web-cards/assets/css/ie9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{paths.theme}}web-cards/assets/css/ie8.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="{{paths.theme}}web-cards/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="{{paths.theme}}web-cards/images/{{ info.realHandler }}.png" alt="" /></span>
							<h1>{{ info.firstName }}{{ info.middleInitial ? ' '~info.middleInitial~'.'}} {{ info.lastName }}</h1>
							<p>{{ info.role }}</p>
						</header>

						<hr />
						<form method="post" action="#">
							<div class="field">
								<input type="text" name="name" id="name" placeholder="{{ info.phone }}" disabled/>
							</div>
							<div class="field">
								<input type="email" name="email" id="email" placeholder="{{ info.email }}" disabled/>
							</div>
							<div class="field">
								<div class="select-wrapper">
									<select name="department" id="department" disabled>
										<option value="">{{ info.department }}</option>
									</select>
								</div>
							</div>
							<ul class="actions">
								<li><a href="http://www.nectd.com" class="button">Add to my contacts</a></li>
							</ul>
						</form>
						<hr />

						<footer>
							<ul class="icons">
								<li><a href="https://www.twitter.com/{{ info.social.twitter }}" class="fa fa-twitter">Twitter</a></li>
								<li><a href="https://www.linkedin.com/in/{{ info.social.linkedin }}" class="fa fa-linkedin">Linkedin</a></li>
								<li><a href="https://www.facebook.com/{{ info.social.facebook }}" class="fa fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">

						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/respond.min.js"></script><![endif]-->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>
